{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>

  <form action="./result" method="post">
  <h2 class="mb-3">{{ quiz.name }}</h2>
  {% for question in questions %}
  <p class="lead">{{ forloop.counter }}.  {{ question.text }}</p>
  {% for answer in answers %}
  {% if answer.question.text == question.text %}
  <p><input type="radio" name="{{ answer.question.id }}" value="{{ answer.text }}" required="True">{{answer.text}}</p>
  {% endif %}
 
  {% endfor %}
  {% endfor %}
 
  


    {% csrf_token %}
   
    <button type="submit" class="btn btn-primary">Submit →</button>
  </form>
{% endblock %}
